@use "@styles/breakpoints";

.analytics-page {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing-m);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);

    &__chart-filters {
        width: 100%;
        padding: var(--spacing-l);
        height: max-content;
        min-height: 15rem;
        background-color: var(--primary);
        border-radius: .3rem;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-l);
        justify-content: center;
    }

    &__title {
        width: 100%;
        text-align: center;
        color: white;
        font-size: var(--font-size-s);
    }

    &__actions-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        height: max-content;
        align-items: center;
        gap: var(--spacing-l);
    }

    &__charts-container {
        display: grid;
        gap: var(--spacing-m);
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));
        grid-template-rows: auto;
    }

    &__chart {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-m);
        background-color: white;
        padding: var(--spacing-l);
        box-shadow: var(--box-shadow-m);
        border-radius: .4rem;
    }
}

@media (min-width: breakpoints.$screen-s) {
    .analytics-page {
        &__title {
            text-align: left;
            max-width: 1080px;
            margin: 0 auto;
        }

        &__actions-container {
            flex-direction: row;
            align-items: end;
        }
    }
}