.app-button {
    background-color: var(--accent);
    min-width: max-content;
    height: max-content;
    padding: var(--spacing-m);
    border-radius: .4rem;
    border: none;
    color: white;
    cursor: pointer;
    font-size: var(--font-size-s);
    font-weight: bold;

    &:disabled {
        opacity: .7;
        cursor: not-allowed;
    }
}