:root {
    //infojobs colors
    --primary-d4: #274454;
    --primary-d3: #23536E;
    --primary-d2: #1D668F;
    --primary-d1: #1972A3;
    --primary: #167DB7;
    --primary-l1: #5CA4CD;
    --primary-l2: #8BBED8;
    --primary-l3: #C5DFED;
    --primary-l4: #E8F2F8;
    --primary-l5: #F3F9FB;

    --gray-d4: #484B4D;
    --gray-d3: #5E6061;
    --gray-d2: #797A7A;
    --gray-d1: #89898A;
    --gray: #999;
    --gray-l1: #B8B8B8;
    --gray-l2: #CCC;
    --gray-l3: #E5E5E5;
    --gray-l4: #F5F5F5;
    --gray-l5: #FAFAFA;

    --accent-d4: #623E36;
    --accent-d3: #8C4839;
    --accent-d2: #C0543C;
    --accent-d1: #E05C3E;
    --accent: #FF6340;
    --accent-l1: #FF9279;
    --accent-l2: #FFB1A0;
    --accent-l3: #FFD8CF;
    --accent-l4: #FCEDEB;
    --accent-l5: #FFF7F5;

    --red-d4: #3A1010;
    --red-d3: #691C1D;
    --red-d2: #A32B2D;
    --red-d1: #C63536;
    --red: #E93E40;
    --red-l1: #F07879;
    --red-l2: #F49FA0;
    --red-l3: #FACFCF;
    --red-l4: #FDECEC;
    --red-l5: #FFF5F5;

    --green-d4: #224E3A;
    --green-d3: #196540;
    --green-d2: #0E8247;
    --green-d1: #07944C;
    --green: #00A550;
    --green-l1: #4DC085;
    --green-l2: #80D2A8;
    --green-l3: #BFE9D3;
    --green-l4: #E6F6EE;
    --green-l5: #F2FBF6;

    --yellow-d4: #5E562A;
    --yellow-d3: #857323;
    --yellow-d2: #B6981A;
    --yellow-d1: #D4AE14;
    --yellow: #F1C40F;
    --yellow-l1: #F5D657;
    --yellow-l2: #F8E287;
    --yellow-l3: #FCF0C3;
    --yellow-l4: #FEF9E7;
    --yellow-l5: #FEFCF3;
}