:root {
    --box-shadow-mult: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.16);
    --box-shadow-base: .6rem 0 .6rem 0 rgba(0, 0, 0, 0.40);
    --box-shadow-s: 0 .1rem .1rem 0 rgba(0, 0, 0, 0.24);
    --box-shadow-m: 0 .1rem .4rem 0 rgba(0, 0, 0, 0.24);
    --box-shadow-l: 0 .3rem .8rem 0 rgba(0, 0, 0, 0.16);
    --box-shadow-mult: 0 0 .3rem 0 rgba(0, 0, 0, 0.20);
}