.typing-animated-text {
    &__text {
        overflow: hidden;
        border-right: none;
        font-size: var(--font-size-xxl);
        font-family: monospace;
        color: white;

        &--typing {
            animation: typing 3s steps(40), blink-caret 0.75s step-end infinite;
            border-right: 0.15em solid white;
        }
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}